doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    title Template
  body
    #app
    script(src='/build.js')
    
    //- disabled due to css issues with vuetify
    link(type='text/css', rel='stylesheet', href='/frameworks/bootstrap.min.css') 
    link(type='text/css', rel='stylesheet', href='/frameworks/bootstrap-vue.css')
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(type='text/css', rel='stylesheet', href='/frameworks/vuetify.min.css')
    script(src='/frameworks/bootstrap-vue.min.js')
    script(src='/frameworks/vuetify.min.js')
